@layer reset, base, tokens, recipes, utilities;

@layer base {
  .helios-ds {
    border: 1px solid red;
    --sp007: 20px;
  }
}

@layer tokens {
  :root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-tertiary: #ccc;
    --shadow-sm: 0 0 0 1px rgba(0, 0, 0, 0.05);
  }
  /* ... */
 
}

